body {
    --bgColor: #f4f4f4;
    --textColor: #333;
    --bgContainer: #fff;
    --contactColor: #666;
    --titleColor: #444;
    --subTitleColor: #333;
    --shadow: rgba(0, 0, 0, 0.1);
    --borderColor: #ddd;
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: var(--bgColor);
    color: var(--textColor);
}

body.dark {
    --bgColor: #222;
    --textColor: #fff;
    --bgContainer: #333;
    --contactColor: #bbb;
    --titleColor: #ddd;
    --subTitleColor: #eee;
    --shadow: rgba(255, 255, 255, 0.1);
    --borderColor: #555;
}

.cv-data {
    position: fixed;
    width: 200px;
    margin: 0 20px 20px;
    padding: 20px;
    background: var(--bgContainer);
    border-radius: 20px;
    box-shadow: 0 2px 4px var(--shadow);
}

.cv-container {
    max-width: calc(100% - 200px - 140px);
    margin: 20px 20px 20px auto;
    padding: 20px;
    background: var(--bgContainer);
    border-radius: 20px;
    box-shadow: 0 2px 4px var(--shadow);
}

.cv-header {
    text-align: center;
    /*border-bottom: 2px solid #333;
    padding-bottom: 20px;*/
}

.cv-header h1 {
    margin: 0;
    font-size: 2em;
    color: var(--titleColor);
}

.contact-info {
    text-align: left;
    font-size: 0.9em;
    color: var(--contactColor);
}

.profile-image {
    display: block;
    margin: 0 auto 20px auto;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
    box-shadow: 0 2px 4px var(--shadow);
}

.cv-section {
    margin-bottom: 20px;
}

.cv-section h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
    color: var(--titleColor);
    border-bottom: 1px solid var(--borderColor);
    padding-bottom: 5px;
}

.cv-section:first-of-type h2 {
    margin-top: 0;
}

.cv-fcont {
    display: flex;
    gap: 20px;
}

.job,
.education {
    display: block;
    background: var(--bgColor);
    padding: 20px;
    margin-bottom: 15px;
    width: 30%;
    text-align: center;
    color: var(--textColor);
    border-radius: 12px;
    text-decoration: none;
    box-shadow: 0 2px 4px var(--shadow);
    transition: box-shadow .2s ease-in-out, transform .2s ease-in-out;
}

a.job:hover {
    transform: translateY(-4px);
    box-shadow: 0 6px 8px var(--shadow);
}

.job img {
    border-radius: 6px;
    width: 150px;
}

.job h3,
.education h3 {
    margin: 0;
    font-size: 1.2em;
    color: var(--subTitleColor);
}

ul {
    padding-left: 20px;
}

ul.skills-list {
    list-style-type: square;
}

.skills-list li {
    margin-bottom: 5px;
}

button {
    cursor: pointer;
    border: 0;
    padding: 8px 12px;
    border-radius: 20px;
    color: var(--textColor);
    background: var(--bgColor);
}

table {
    width: 100%;
    background: var(--bgColor);
    border-collapse: collapse;
    border-radius: 12px;
    text-align: center;
    margin-top: 10px;
}

th, td {
    padding: 8px;
}

td {
    border-top: 2px solid var(--borderColor);
}

td:not(:last-of-type) {
    border-right: 2px solid var(--borderColor);
}